<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="link_css.css" rel="stylesheet" type="text/css">
    <script src="BestSellerController.js"></script>

</head>
<body>
<% include('./public/header.html')%>
<div id="mainwrapper">
<div id="content">
<section id="mainContent">
<div id="param">
    <form  action="/bestSeller" method="post" class="form-horizontal" onsubmit="return Allsubmit()">
        <a> Aisle: </a>
        <select id="aisle" name="aisle_name">

            <% aisle.forEach(function(aisle){%>
            <option><%=aisle[0]%></option>
            <% }) %>
        </select>
        <a> Start Date: </a>
        <input type="date" name="start_date" value="2017-06-01" min="2017-01-01" max="2017-12-31"/>
        <a> End Date: </a>
        <input type="date" name="end_date" value="2017-08-01" min="2017-01-01" max="2017-12-31"/>
        <a></a>
        <input  type="submit" value="search">

    </form>
</div>
        <h3>
            <!-- Tagline -->
            Best sellers:&nbsp;</h3>
    <table width="100%" class="table">
        <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                Aisle
            </th>
            <th>
                Department ID
            </th>
        </tr>
        </thead>
        <% list.forEach(function(list){%>
        <tr>
            <td>
                <%=list[1]%>
            </td>
            <td>
                <%=list[0]%>
            </td>
            <td>
                <%=list[2]%>
            </td>
            <td>
                <%=list[3]%>
            </td>
        </tr>
        <% }) %>
    </table>
</section>
    <% include('./public/sider.html')%>
</div>
</div>
<% include('./public/footer.html')%>
</body>
</html>