<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="blogPostStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
  <% include('./public/header.html')%>
  <div id="mainwrapper">

  <div id="content">
    <div class="notOnDesktop"> 
      <!-- This search box is displayed only in mobile and tablet laouts and not in desktop layouts -->
      <input type="text" placeholder="Search">
    </div>
    <section id="mainContent"> 
      <!--************************************************************************
    Main Blog content starts here
    ****************************************************************************-->
      <h1>
        <!-- Blog title -->
Welcome!&nbsp;</h1>
      <table>
        <tr>
          <td>
            <a href="/trendofPro">
              <img src="3.png" height="300" width="300"/>
              </a>
          </td>
          <td>
            <a href="/trendofOrderA">
              <img src="9.png" height="300" width="300"/>
              </a>
          </td>
          <td>
            <a href="/trendofRe">
              <img src="10.png"  height="300" width="300"/>
              </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/trendofOrderU">
              <img src="6.png"  height="300" width="300"/>
              </a>
          </td>
          <td>
            <a href="/bestSeller">
              <img src="1.png"  height="300" width="300"/>
              </a>
          </td>
          <td>
            <a href="/TheMDC">
              <img src="5.png"  height="300" width="300"/>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/TheMLU">
              <img src="4.png"  height="300" width="300"/>
            </a>
          </td>
        </tr>
      </table>
      <div id="bannerImage"></div>
</section>

</div>
  <div id="footerbar"> </div>
</div>
</body>
</html>
