<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="link_css.css" rel="stylesheet" type="text/css">
    <script src="PureGrowthViewController.js"></script>
    <script src="highcharts.js"></script>
    <script src="modules/exporting.js"></script>
    <script src="modules/export-data.js"></script>
    <script src="modules/accessibility.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<% include('./public/header.html')%>
<div id="mainwrapper">
    <div id="content">
        <section id="mainContent">
            <h3>
                <!-- Tagline -->
                The trend of the total number of sold products in a selected aisle over a selected time period:
                &nbsp;</h3>
            <figure class="highcharts-figure">
                <div id="container"></div>

            </figure>

        </section>
        <% include('./public/sider.html')%>
    </div>
</div>
<% include('./public/footer.html')%>
<script type="text/javascript">


    var option={
        chart: {
            type: 'line'
        },
        title:{text:''},

        xAxis: [],
        yAxis: {
            title: {
                text: 'Total number of sold products'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: []
    }
    $(document).ready(drawChart())

    $(document).ajaxComplete(function(event, xhr, settings) {
        var obj = JSON.parse(xhr.responseText);
        var data = obj.data;
        option.title.text=obj.title;
        option.xAxis.push({categories:obj.xAxis});
        option.series.push({ data:data});
        Highcharts.chart('container', option);
    })

    function drawChart(){
        $.ajax({
            url:'/PureGrowthView',
            type:'post',
            dataType: 'json',
            data: {product_id:43002,start_date:'2017-06-01',end_date:'2017-08-01'}
        })
    }
</script>
</body>
</html>