
<section id="sidebar">
    <nav>
        <ul>
            <li><a href="/bestSeller" title="Best sellers">Best sellers</a></li>
            <li><a href="/trendofOrderA" title="Trend of Order">Trend of Order</a></li>
            <li><a href="/trendofPro" title="trendofPro">Trend of Product</a></li>
            <li><a href="/trendofRe" title="trendofRe">Trend of Reorder</a></li>
            <li><a href="/trendofOrderU" title="trendofOrderU">Trend of Order on User</a></li>
            <li><a href="/TheMDC" title="TheMDC">Most Diverse User</a></li>
            <li><a href="/TheMLU" title="TheMLU">Most Loyal User</a></li>
        </ul>
    </nav>
</section>
