
<section id="sidebar">
    <input type="text" placeholder="Search"><img id="searchicon" src="images/searchicon.jpg" height="20" width="20">
    <div id="adimage"></div>
    <nav>
        <ul>
            <li><a href="link1" title="Link1">Link1</a></li>
            <li><a href="#" title="Link">Link2</a></li>
            <li><a href="#" title="Link">Link3</a></li>
            <li><a href="#" title="Link">Link4</a></li>
            <li><a href="#" title="Link">Link5</a></li>
            <li><a href="#" title="Link">Link6</a></li>
        </ul>
    </nav>
</section>
